[submodule "openzeppelin-contracts"]
	path = openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "chainlink"]
	path = chainlink
	url = https://github.com/smartcontractkit/chainlink.git
